.newpage {
  .new {
    margin-top: -165px;
    .container {
      .heading {
        position: relative;
        z-index: 4;
        color: #fff;
        padding-bottom: 30px;
        margin-bottom: 50px;
        border-bottom: 1px solid #fff;
      }
    }
  }
}
